body {
	background-image: url("../images/grid.jpg");
	font-family: "Open Sans"
}

.newsletter {
	padding-bottom:5em;
}

#footer {
	background-color: black;
	color: white;
}

.social a {
	font-size: 30px;
	letter-spacing: 20px;
	color: white;
}


.social a:hover {
	color: grey;
}

#wrapper h1 {
	padding-top: 50px;
}
#spacing2 {
	padding-top: 1em;
}

.spacing3 {
	padding-top: 2em;
	padding-bottom: 2em;
}

#wrapper {
	background-image: url("../images/background/background.jpg");
	height: 620px;
	background-size: cover;
	text-align: center;
	padding-top: 130px;
	color: white;
	text-shadow: 3px 3px 5px grey; 
	margin-bottom: 50px;
}

.spacing4 {
	padding-top: 1em;
	font-size: 10px;
}

#wrapper h1 {
	font-size: 60px;
}

#wrapper h2 {
	font-size: 40px;
}

.features {
	margin-bottom: 70px;
	margin-top: 20px;
}

.container p {
	font-weight: 300;
	margin-top: 1.5em;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
  padding-right: 10px;
  padding-left: 5px;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}



















